@import "tailwind.css";

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #d88900;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}

.navLink {
  &:hover,
  &.active {
    &,
    i {
      color: #ee0000;
    }
  }
}

.paymentLabel {
  &.active {
    border-color: red;

    .cardDetails,
    i {
      display: block;
    }
  }
}
